<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <!-------  BARRA LATERAL ------->
        <!-- <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <app-menu-lateral></app-menu-lateral>
        </nav> -->
        <!-------  /BARRA LATERAL ------->

        <!-------  CONTENIDO PRINCIPAL ------->
        <app-iveco-content></app-iveco-content>
        <!-------  /CONTENIDO PRINCIPAL ------->
    </div>
</div>
<app-footer></app-footer>
