<section class="d-flex flex-column">
    <!------------     TITULO TABLA    ----------->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h2 id="tituloBancor">Avisos</h2>
        <a class="btn btn-secondary btn-sm" href="/">Refrescar</a>
        <button type="button" data-bs-toggle="modal" data-bs-target="#add-novedad" style="background-color: #0a5e3b;border-color: white;" class="btn btn-primary rounded-circle fw-bold">+</button>
    </div>
    <!------------     /TITULO TABLA    ----------->



    <!------------ TABLA ----------->
    <div class="table-responsive border border-dark border-opacity-10 p-3" style="height:60vh">
      <table class="table table-sm table-hover">
        <div class="visually-hidden row">
          <select class="form-select col" [(ngModel)]="filtro1">
            <option selected>Ordenar por</option>
            <option value="id">id</option>
            <option value="sitio">Sitio</option>
            <option value="activo">Activo</option>
          </select>
          <select class="form-select col" [(ngModel)]="filtro2">
            <option selected>Ascendente/Descendente</option>
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
        </div>
        <!------------ Columnas ----------->
        <thead>
          <tr>
            <th scope="col">CID</th>
            <th scope="col">Sitio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha Creacion</th>
            <th scope="col">Activo</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <!------------ /Columnas ----------->

        <!------------ Registros ----------->
        <tbody>
          <tr *ngFor="let evento of data; let i=index" [ngClass]="{'table-primary': (filaActiva.active === true && filaActiva.index === i), 'table-danger': (evento.estado == true)}" (click)="RowSelected(evento, i)">
            <td>{{evento.cid}}</td>
            <td>{{evento.sitio}}</td>
            <td>{{evento.description}}</td>
            <td>{{evento.problemDate | formatoFecha }}</td>
            <td>{{evento.estado}}</td>
            <td>{{evento.id}}</td>
          </tr>
        </tbody>
        <!------------ /Registros ----------->
      </table>
    </div>
    <!------------     /TABLA    ----------->

    <button type="button" data-bs-toggle="modal" data-bs-target="#registro" class="btn btn-outline-secondary ml-5 mt-4 align-self-center">
      Ver detalles
    </button>
    <app-add-novedad></app-add-novedad>
    <app-tabla-modal [selectedRow]="selectedUser"></app-tabla-modal>
</section>
