<section class="d-flex flex-column fs-3 px-2">
    <!------------     TITULO TABLA    ----------->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
      <a class="btn btn-outline-primary btn-sm me-2 fs-5" href="/">Refrescar</a>
      <h2 id="tituloBancor" class="fw-bolder" style="margin-left: 1rem;">Avisos</h2>
      <button type="button" data-bs-toggle="modal" data-bs-target="#add-novedad" class="btn btn-secondary btn-dark btn-lg fw-bold me-4">Agregar +</button>
    </div>
    <!------------     /TITULO TABLA    ----------->



    <!------------ TABLA ----------->
    <div class="table-responsive border border-dark border-opacity-10" style="height:65vh">
      <table class="table table-bordered border-dark table-sm table-hover table-striped">
        <div class="visually-hidden row">
          <select class="form-select col" [(ngModel)]="filtro1">
            <option selected>Ordenar por</option>
            <option value="id">id</option>
            <option value="sitio">Sitio</option>
            <option value="activo">Activo</option>
          </select>
          <select class="form-select col" [(ngModel)]="filtro2">
            <option selected>Ascendente/Descendente</option>
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
        </div>
        <!------------ Columnas ----------->
        <thead class="table-dark">
          <tr>
            <th scope="col">CID</th>
            <th scope="col">Sitio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha Creacion</th>
          </tr>
        </thead>
        <!------------ /Columnas ----------->

        <!------------ Registros ----------->
        <tbody class="table-group-divider">
          <tr *ngFor="let evento of data | orderByDate; let i = index;" class="fw-semibold" [ngClass]="{'table-primary': (filaActiva.active === true && filaActiva.index === i)}" (click)="RowSelected(evento, i)">
            <td>{{evento.cid}}</td>
            <td>{{evento.sitio}}</td>
            <td>{{evento.description}}</td>
            <td>{{evento.problemDate | formatoFecha }}</td>
          </tr>
        </tbody>
        <!------------ /Registros ----------->
      </table>
    </div>
    <!------------     /TABLA    ----------->

    <button type="button" role="button" data-bs-toggle="modal" data-bs-target="#registro" class="btn btn-primary ml-5 mt-4 align-self-center fs-5" style="margin-bottom: 2rem;">
      Ver detalles
    </button>
    <app-add-novedad></app-add-novedad>
    <app-tabla-modal [selectedRow]="selectedUser"></app-tabla-modal>
</section>
