<main class="ms-sm-auto px-md-4 d-flex flex-column fs-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 id="tituloBancor">Contactos</h2>
    </div>

    <div class="input-group align-items-center pt-3 pb-2 mt-3 mb-3 px-5">
        <input type="text" class="form-control fs-4" placeholder="Buscar" [(ngModel)]="filtro">
        <button class="btn btn-secondary fs-4" type="button" style="background-color: #a83507;">Buscar</button>
    </div>


    <div class="table-responsive pb-2 mb-3" style="height:50vh">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="align-top">
                    <th >#CID</th>
                    <th>Sucursal</th>
                    <th>Función</th>
                    <th>Nombre</th>
                    <th>Interno</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contacto of contactos | filterContacto:filtro">
                    <td>{{contacto.idCid}}</td>
                    <td>{{contacto.sucursal}}</td>
                    <td>{{contacto.funcion}}</td>
                    <td>{{contacto.nombre}}</td>
                    <td>{{contacto.interno}}</td>
                    <td>{{contacto.celular}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div role="button" class="ml-5 mt-2 align-self-center" >
        <a href="/" class="btn btn-outline-secondary fs-5">Volver a Home</a>
    </div>
</main>
