a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
