<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column">
    <!------------     TITULO TABLA    ----------->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 id="tituloBancor">ATMs descargados</h2>
    </div>
    <!------------     /TITULO TABLA    ----------->
    
    <!------------ TABLA ----------->
    <div class="table-responsive">
    <table class="table table-striped table-sm table-hover">
    <!------------ Columnas ----------->
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Columna 1</th>
        <th scope="col">Columna 2</th>
        <th scope="col">Columna 3</th>
        <th scope="col">Columna 4</th>
    </tr>
    </thead>
    <!------------ /Columnas ----------->
    
    <!------------ Registros ----------->
    <tbody>
    <tr>
        <td>1,001</td>
        <td>random</td>
        <td>data</td>
        <td>placeholder</td>
        <td>text</td>
    </tr>
    <tr>
        <td>1,002</td>
        <td>placeholder</td>
        <td>irrelevant</td>
        <td>visual</td>
        <td>layout</td>
    </tr>
    <tr>
        <td>1,003</td>
        <td>data</td>
        <td>rich</td>
        <td>dashboard</td>
        <td>tabular</td>
    </tr>
    </tbody>
    <!------------ /Registros ----------->
    </table>
    </div>
    <!------------     /TABLA    ----------->
    
    <div role="button" class="ml-5 align-self-center">
    <a href="/test" class="btn btn-outline-secondary">Volver a Home</a>
    </div>
</main>