<!-- Modal -->
<div class="modal fade" id="registro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- TITULO -->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Evento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="LimpiarSelected()"></button>
        </div>
        <!-- /TITULO -->

        <!-- BODY -->
        <div class="modal-body">
          <form class="needs-validation container" novalidate>

            <div class="visually-hidden row pb-4 alert alert-warning" role="alert">No hay evento seleccionado</div>

            <div class="row g-3 pb-4">
              <button (click)="MostrarSelected()" class="col-12 text-center btn bg-primary-subtle mx-auto">Mostrar ficha</button>
            </div>

            <div class="row ">
              <div class="col-md-4 ">
                <label for="validationCustom03" class="form-label">Estado</label>
                <input type="text" class="form-control" id="validationCustom03" value="{{infoAMostrar.active}}" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>

              <div class="col-md-6">
                <label for="validationCustom05" class="form-label">Fecha de informe</label>
                <input type="date" class="form-control" id="validationCustom05" value="{{infoAMostrar.fecha}}">
                <div class="invalid-feedback">
                  Please provide a valid zip.
                </div>
              </div>
              <p (click)="MostrarFechaConsola()">Clickea</p>


              <div class="col-md-3">
                <label for="validationInput01" class="form-label" >CID</label>
                <input type="text" class="form-control" id="validationInput01" value="{{infoAMostrar.cidSitio}}" required>
                <div class="valid-feedback">
                  Todo bien!
                </div>
              </div>

              <div class="col-md-9">
                <label for="validationInput02" class="form-label">Sucursal</label>
                <input type="text" class="form-control" id="validationInput02" value="{{infoAMostrar.sitio}}" required>
                <div class="valid-feedback">
                  Todo bien!
                </div>
              </div>



              <div class="col-md-12">
                <label for="validationCustomUsername" class="form-label">Descripcion</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="validationCustomUsername" value="{{infoAMostrar.descripcion}}" required>
                  <div class="invalid-feedback">
                    Please choose a username.
                  </div>
                </div>
              </div>

              <div class="visually-hidden col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                  <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                  </label>
                  <div class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>
            </div>

            </form>
        </div>
        <!-- /BODY -->

        <!-- FOOTER -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="LimpiarSelected()">Cerrar</button>
          <a class="btn btn-outline-secondary nav-link active pt-2 pb-2" aria-current="page" href="http://10.19.16.129:3005/contactos">Abrir REST API</a>
        </div>
        <!-- /FOOTER -->

      </div>
    </div>
</div>
<!-- /Modal -->
