<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 id="tituloBancor">iveco Móviles</h2>
    </div>    
    

    <div class="pb-0 pt-0" style="width:100%; max-height: 70vh; overflow: scroll; overflow-x: hidden; background-color: rgb(242, 253, 247);">
        <img src="../../../../assets/img/LIMPIO-Plano-Zonales-A4-Córdoba.svg" class="object-fit-fill w-100 h-100" alt="Mapa de Córdoba">
    </div>
    
    <div role="button" class="ml-5 mt-2 align-self-center" >
        <a href="/" class="btn btn-outline-secondary">Volver a Home</a>
    </div>
</main>