<main class="ms-sm-auto col-lg-12 d-flex flex-column px-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 id="tituloBancor">iveco Móviles</h2>
    </div>
    <div style="height: 70vh;">
      <iframe class="w-100 h-100" src="https://www.google.com/maps/d/embed?mid=1t-3gSm6R3gyB0FqMSip_CA3LzVe7os0&ehbc=2E312F"></iframe>
    </div>
    <div class="visually-hidden" style="height: 70vh">
      <iframe id="inlineFrameExample" title="Inline Frame Example" width="300" height="200"
        style="width:100%; height: 100%; max-height: 70vh; overflow: scroll; overflow-x: hidden; border: 1px solid rgb(212, 212, 212);"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-64.44580078125001%2C-31.582045175714057%2C-63.91983032226563%2C-31.248030044481112&amp;layer=mapnik">
      </iframe>
    </div>

    <div class="visually-hidden pb-0 pt-0" style="width:100%; max-height: 70vh; overflow: scroll; overflow-x: hidden; background-color: rgb(242, 253, 247);">
        <img src="../../../../assets/img/LIMPIO-Plano-Zonales-A4-Córdoba.svg" class="object-fit-fill w-100 h-100" alt="Mapa de Córdoba">
    </div>

    <div role="button" class="ml-5 mt-2 align-self-center" >
        <a href="/" class="btn btn-outline-secondary">Volver a Home</a>
    </div>
</main>
